@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    
}

body{
    height: 1110vh;
    background-color: #35393d;
    
    
    
}
.containerPrimary{
    width: 100vw;
    height: 100vh; 
    display: flex;
    
}

.header{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 70vh; 
    list-style: none;
    line-height: 350%;
    
}

.btnEsp {
    text-decoration: none;
    padding-left: 3px;
    width: 220px;
    height: 100vh;
    background-color: rgb(31, 29, 28);
    border-radius: 0px 5px 5px 0px;
    box-shadow: 3px 0px 0px rgb(4, 108, 243);
    position: fixed;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.6s;
    display: flex;
    flex-direction: column;
    position: relative;
}
 /*.btnEsp:hover{
    width: 220px;
}
*/

.btnFullMenu{
    display: flex;
    width: 150%;
    height: 100%;
    background: none;
    display: flex;
    align-items: center;
    border: none;
    padding: 2%;
    border-radius: 5px;

}
.itemMenu:hover{
    background: blue;
    width: 100%;
    transition: 0.5s;
}


#listBy{
    margin-left: 10px;
    font-size: 30px;
    color: rgb(255, 255, 255);
}
 span i{
    font-size: 20px;
    color: rgb(255, 255, 255);
 }

.txtLink{
    height: 50px;
    margin-left: 25px;
    display: flex;
    align-items: center;
    
}

.itemMenu a{
    text-decoration: none;  
    justify-content: center;
    

}


.itemMenu{
    padding-left: 15px;
    list-style-type: none;
    width: 100%;
    display: flex;
}
.itemMenu span{
    color: rgb(255, 255, 255);
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: bolder;
    
    
}


.introducao{
    margin-right: 90px;

    width: 80%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
   

    
}


.menuDarkMode{
    background: beige;
    border-radius: 10px;
    width: 90%;
    height: 7%;
    position: absolute;
    display: none;
    align-items: center;
    padding: 5%;
    
}
.menuDarkMode h2{
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 15px;
    width: 70%;
}


.switch {
    position: relative;
    display: inline-block;
    width: 25%;
    height: 3vh;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #525050;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 3vh;
    width: 2vw;
    left: 3%;
    bottom: 3px;
    background-color: rgb(59, 58, 58);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #ffffff;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #545455;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(20%);
    -ms-transform: translateX(20%);
    transform: translateX(100%);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
    width: 20px;
    height: 70%;
  }